@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    list-style: none;
}

.cabecalho {
    background-color: #252525;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4vw;
    padding-left: 4vw;

}

.logo_texto {
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.icon-logo {
    width: 3em;
    margin-right: 2%;
}

.icon_nav {
    width: 16%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}


.containermain {
    background-image: url(./imagens/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 170vh;
    align-items: center;
    padding-top: 14%;
    flex-direction: column;
}

.textobanner1 {
    color: white;
    font-family: 'roboto serif';
    font-size: 4rem;
    width: 50%;
    text-align: center;
}

.iconedobanner1 {
    width: 8%;
    padding-top: 2%;
}

.containermain2 {
    background-image: url(./imagens/banner2.png);
    background-size: cover;
    width: 100%;
    height: 150vh;
    padding-left: 4%;
    padding-top: 18%;
    align-items: top;
}

.titulo2 {
    font-family: 'roboto serif';
    font-size: 4.2rem;
    font-weight: 600;
    color: #3A342F;
    width: 50%;
    margin-bottom: 2%;
}

.textocont2 {
    font-size: 2rem;
    font-weight: 400;
    color: #3A342F;
    width: 40%;
    padding-bottom: 6%;
    font-family: 'roboto';
}


.botao1 {
    background-color: #3A342F;
    color: white;
    text-decoration: none;
    border-radius: 38px;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 2% 4% 2% 4%;

}

.containermain3 {
    background-image: url(./imagens/banner3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 169vh;
    justify-content: start;
    flex-direction: column;
    padding-top: 14%;
    align-items: last baseline;
    padding-right: 12%;

}

.titulo3 {
    font-family: 'roboto serif';
    color: white;
    font-size: 3rem;
    font-weight: 600;
    width: 36%;
    height: 20%;
    margin-bottom: 2%;

}

.textocont3 {
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    width: 32%;
    height: 20%;
    font-family: 'roboto';
}

.botao2 {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 39px;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 2% 4% 2% 4%;
    margin-top: 3%;

}

.container-apoio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testenav {
    background-color: white;
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.apoio1 {
    width: 15%;
}

.apoio {
    font-family: 'roboto';
    color: #FD6A9A;
    font-size: .8rem;
    font-style: italic;
    width: 10%;
}


footer {
    background-color: #EB4A7B;
    width: 100%;
    height: 70vh;
    color: white;
    align-items: flex-start;
    padding-top: 8%;
}

.imgfooter {
    display: none;

}

.iconesfooter {
    display: none;
}

.container-texto {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 44vh;
    align-items: flex-start;
}

.titulo-footer {
    font-family: 'roboto serif';
    margin-bottom: 18%;
    font-size: 1.8rem;
}


li {
    margin-bottom: 8%;
    font-size: 1rem;
}



@media (min-width: 200px) and (max-width: 500px) {

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2vw;
        padding-left: 2vw;
        width: 100%;
    }

    .logo_texto {
        width: 50%;
    }

    .instagram {
        display: none;
    }

    .youtube {
        display: none;
    }

    .containermain {
        background-image: url(./imagens/banner1-responsivo.png);
        position: relative;
        height: 150vh;
        padding-top: 30%;
        width: 100%;

    }

    .textobanner1 {
        font-size: 2rem;
        width: 80%;
    }

    .iconedobanner1 {
        width: 14%;
        padding-bottom: 40%;
    }

    .containermain2 {
        background-image: url(./imagens/banner2-responsivo.png);
        position: relative;
        width: 100vw;
        height: 200vh;
        padding-left: 4%;
        padding-top: 30%;

    }

    .titulo2 {
        font-size: 1.8rem;
        font-weight: 600;
        width: 70%;
        padding-bottom: 5%;
    }

    .textocont2 {
        font-size: 1rem;
        width: 70%;
        padding-bottom: 10%;
    }

    .botao1 {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 3% 6% 3% 6%;
    }

    .containermain3 {
        background-image: url(./imagens/banner3-responsivo.png);
        display: flex;
        width: 100%;
        padding-right: 30%;

    }

    .titulo3 {
        width: 88%;
        height: 8%;
        font-size: 1.8rem;

    }

    .textocont3 {
        font-size: 1rem;
        width: 90%;
        height: 12%;
    }

    .botao2 {
        font-size: 0.8rem;
        font-weight: 400;
        padding: 3% 6% 3% 6%;
    }

    .container-apoio {
        display: flex;
        justify-content: center;
        height: 30%;
        flex-direction: column;
    }

    .testenav {
        display: flex;
        width: 90%;
        margin: 0;
        height: 12vh;
    }

    .apoio {
        justify-content: center;
        margin-top: 4%;
    }

    .apoio1 {
        flex-direction: column;
        width: 20%;

    }


    footer {
        display: flex;
        align-items: center;
        height: 170vh;
        justify-content: center;
        align-items: flex-start;

    }

    .imgfooter {
        display: flex;
        width: 50%;

    }

    .iconesfooter {
        display: flex;
        width: 30%;
        justify-content: space-between;
    }

    .container-texto {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150vh;
        align-items: center;
        text-align: center;
    }

    .titulo-footer {
        font-size: 1rem;
    }

    li {
        font-size: .8rem;

    }

}